@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #222;
    color: #ddd;
    cursor: default;
    user-select: none;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */


}

.header {
    background: #333;
    color: #aaa;
    padding: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: solid 1px #111;
}



.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    top: 45px;
    left: -150px;
    padding: 10px;
    padding-right: 15px;
    border-right: solid 1px #111;
    transition: all 0.5s;
    box-sizing: border-box;
}



.main {
    position: fixed;
    left: 0px;
    transition: all 0.5s;
    padding: 20px;
}


.button {
    display: inline-block;
    width: 130px;
    padding: 3px;
    /*cursor: pointer;*/
    outline: solid 1px #333;
    transition: all 0.4s;
    text-align: center;
}

.button:hover {
    outline: solid 1px #777;
}


.button:active {
    background-color: #333;
    color: #888;
    transition: color 0.2s;
}

.sidebar .button {
    width: 100%;
    margin: 3px 0;
}